name: Build

on:
  push:
    paths-ignore:
      - '**.md'

  pull_request:
    branches:
      - 'master'
      - 'develop'

jobs:
  build:
    # Do not run useless build when pushing tag
    if: ${{ github.event_name != 'push tag' }}

    name: Windows (.Net 4.6)
    runs-on: windows-latest

    env:
      COREHOST_TRACE: false
      # Disable sending usage data to Microsoft
      DOTNET_CLI_TELEMETRY_OPTOUT: 1
      # prevent the caching of the packages on the build machine
      DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
      # prevent the download of the XML documentation for the packages
      NUGET_XMLDOC_MODE: skip

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 1

      - name: Setup Nuget cache
        uses: actions/cache@v2
        id: nuget-cache
        with:
          path: ~/.nuget
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/Minifier/Minifier.csproj') }}
          restore-keys: ${{ runner.os }}-nuget-

      - name: Add MSBuild to PATH
        uses: microsoft/setup-msbuild@v1.0.1

      - name: Setup Nuget
        uses: nuget/setup-nuget@v1.0.2

      - name: Restore Nuget packages
        shell: powershell
        run: nuget restore

      - name: Build Project for .Net 4.6
        shell: powershell
        run: MSBuild -p:Configuration=Debug -detailedSummary -noLogo
